body {
  background-color: lightgreen;
}
@media screen and (min-width: 800px) {
  body {
    background-color: lightblue;
  }
}

h1 {
  color: hsl(207, 100%, 15%);
  text-decoration: underline dotted;
  text-align: center;
}

.normText {
  color: rgb(3, 80, 143);
}

h2, h3 {
  color: #0C376B;
}

div p{ 
  font-size:15px;
}

div > section { 
  background-color: honeydew;
}

.attendList {
  margin: 10px 8px 10px 8px;
  position: static;
}

.prevBusiness {
  width: 15cm;
  height: 25rem;
  max-height: 500px;
  max-width: 500px;
  padding: 10px 8px 10px 8px;
}

.restBusiness {
  width: 0.5in;
}

/* formatting title section */
#title {
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 10px;
    position: relative;
}

/* formatting agenda section */
.agendaSec {
    margin: auto;
    padding-top: 10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 10px;
}

.newBusiness {
  margin-top: 30px;
  margin-left: 678px;
}

.micellaneous {
  margin-left: 678px;
  padding-bottom: 10px;
}

.nextMeeting {
  margin-left: 678px;
  margin-top: 30px;
}

.documentation {
  margin-top: 10px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 10px;
}

.video {
  margin-top: 10px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 10px;
}

.audio {
  margin-top: 10px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 10px;
}

.formBorder {
    border-style: dashed solid;
    border-color: black;
    border-width: 0.1cm;
    border-radius: 1;
    margin-bottom: 20px;
}

a:hover {
  color: pink;
}

a:active {
  color: blue;
}
p:hover {
  background-color: pink;
}

a[target] {
  background-color: lightslategray;
}

.flexDiv {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 4;
  flex-wrap: nowrap;
}

.audioFormat {
  margin-right: 250px;
}

.videoFormat {
  margin-right: 300px;
}

.gridDiv {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 280px;
  grid-area: header;
}

* {
  font-family: 'Montserrat', sans-serif;
}

.documentation {
  margin-top: 50px;
}

h2 ~ video {
  background: honeydew;
}

b+p {
  font-weight: bold;
}

h2.micellaneousTopic {
  font-style: italic;
}
